
.jvis-wrapper {
  width: 38.25rem;
  margin: 0 auto;
}

.journal-entry-pages {

  /* Font sizing */
  --font-size-10: 0.625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-64: 4rem;
  --font-size-80: 5rem;
  --font-h1-size: var(--font-size-48);
  --font-h2-size: var(--font-size-32);
  --font-h3-size: var(--font-size-28);
  --font-h4-size: var(--font-size-24);
  --font-h5-size: var(--font-size-20);
  --font-h6-size: var(--font-size-16);
  
  /* Font family */
  --font-header: Libre Caslon Text, serif;
  --font-sans: PT Sans, sans-serif;
  --font-serif: PT Serif, serif;
  --font-body: var(--font-serif);
  --font-editor: Caveat Brush, cursive;
  --font-text-editor: Caveat Brush, cursive;
  --font-h1: var(--font-header);
  --font-h2: var(--font-serif);
  --font-h3: var(--font-serif);
  --font-h4: var(--font-serif);
  --font-h5: var(--font-serif);
  --font-h6: var(--font-serif);

  font-family: var(--font-body);
  font-size: var(--font-size-14);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1;
  text-rendering: geometricPrecision;
}

.journal-entry-pages img {
  max-width: 100%;
  height: auto;
  display: block;
}
