div.sidebar {
  width: calc($def_size*10);
  background-color: grey;
  position: fixed;
  height: 100%;
  overflow: auto;

  a {
    display: block;
    color: white;
    padding: $def_size;
    text-decoration: none;
  }
}

div.journal-buffer {
  background-color: brown;
  margin-left: calc($def_size*11);
  height: 1000px;
  padding: 1rem 1rem 1rem 1rem;

  .journal-title {
    border: 2px solid;
    border-color: black;
  }

  .journal-content {
    background-color: yellow;
  }
}
